* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    background: url("FOTO_VINHO.png") no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
    max-width: 550px;
    background: rgba(255, 255, 255, 0.25);
    padding: 35px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(12px);
}

.titulo {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
}

.sub {
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom: 30px;
    color: #f8f8f8;
}

.strike {
    text-decoration: line-through;
    color: #f2f2f2;
}

.overwrite {
    color: #ff2a2a;
    font-weight: bold;
}

.buttons {
    position: relative;              /* ÁREA ONDE O NÃO VAI FUGIR */
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    height: 70px;                    /* Altura fixa para movimento seguro */
}

.btn {
    border: none;
    padding: 14px 35px;
    font-size: 1.1rem;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.25s;
    font-weight: 600;
}

.yes {
    background: #28a745;
    color: #fff;
}

.yes:hover {
    background: #1e7e34;
    transform: scale(1.07);
}

.no {
    background: #d11;
    color: #fff;
    position: absolute;       /* Para fugir */
    left: 50%;                /* Começa ao lado */
    transform: translateX(80px);
    transition: 0.2s;
}

/* Mobile */
@media (max-width: 480px) {

    .titulo {
        font-size: 1.5rem;
    }

    .buttons {
        height: 90px;
    }

    .btn {
        padding: 12px 25px;
        font-size: 1rem;
    }
}

